.popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(100, 100, 100, 0.6);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}